body {
    max-width: 1400px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 0%;
}


.ohmyfood{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}


.page_container {
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}


.header {
    display: flex;
    justify-content: center;
}


.header img {
    width: 150px;
}





/*******section localisation****/

.location {
    display: flex;
    justify-content: center;
    background: #eaeaea;
    padding: 1rem;
}

/*****section reservation****/

.reservation {
    display: flex;
    text-align: center;
    flex-flow: wrap column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 2rem;
}


.reservation p {
    font-size: larger;
}

.button {
    background: linear-gradient(90deg, #ff79da, #9356dc);
    color: white;
    border-radius: 50px;
    border: none;
    padding: 1.5rem;
    font-size: large;
    box-shadow: 4px 4px 2px lightgrey;
}


.button:hover{
    box-shadow: 8px 8px 4px lightgrey;
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
}

/*******section fonctionnement*******/

.section_fonctionnement {
    padding: 2rem;
}

.grid {
    display: grid;
}


.size {
    background-color: #f6f6f6;
    box-shadow: 4px 4px 2px lightgrey;
    border-radius: 20px 20px;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

.sizepink {
    background: #f5edff;
    box-shadow: 4px 4px 2px lightgrey;
    border-radius: 20px 20px;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    padding-left: 1rem;
    align-items: center;
}



.number {
    background: #9356dc;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
   left: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icons {
    font-size: 30px;
    color: grey;
    padding-right: 15px;
}

.icons_pink{
    font-size: 25px;
    color: violet;
    padding-right: 15px;
}

.size :hover {
    background-color: plum;
}



/*****section restaurant******/

.section_restaurant {
    background-color: #f2f2f2;
    padding: 2rem;
}


.cards {
    background-color: white;
    border-radius: 1.25rem;
    transition-duration: 0.1s;
    cursor: pointer;
    height: 100%;
}

    .new{
         position: relative;
         
    }



    .new::before {
         content: "Nouveau";
         color: #1a8a68;
         font-weight: bold;
         position: absolute;
         height: 2rem;
         width: 80px;
         background-color:#99e2d0;
         padding-top: 1rem;
         right: 2rem;
         text-align: center;
         margin-top: 1rem;
    }


/******les cards****/



.cards img {
    height: 10rem;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.section_restaurant_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    margin-bottom: 50px;
}

.menu h4 {
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
}

.menu p {
    font-weight: lighter;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
}


/*****le coeur****/
.fa-stack {
    font-size: xx-large;
    position: relative;
    bottom: 10px;
    cursor: pointer;
  }
  .fa-stack :nth-child(2) {
    color: transparent;
    transition: all 350ms;
    padding: 0px;
  }
  .fa-stack :nth-child(2):hover {
    background: linear-gradient(to bottom left, #9356dc, #ff79da);
    font-size: large;
    transform: scale(2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
  

.card_footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
}


/****section footer****/
.footer {
    background-color: #353535;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}



.footer img {
    color: white;
    width: 25%;
}

.icons_footer {
    display: flex;
    gap: 1rem;
}





@media screen and (min-width: 1024px) {
     

    .section_fonctionnement{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .card_footer{
       
        padding-top: 1rem;
    }

    .section_restaurant_cards{
        grid-template-columns: repeat(4, 1fr);
        gap:1rem;  
    }


   .footer{
        flex-direction: row-reverse;
        gap: 3rem;
        padding-right: 7rem;
        align-items: center;
   }

   .footer img {
        width: 5%;
   }
   
   .footer_information{
        display: flex;
        flex-direction: row;
        gap:2rem;
   }

   

}
